.drawerBox {
  width: 250px;
  height: calc(100vh - 75px);
  border: 1px solid var(--el-menu-border-color);
  position: absolute;
  top: 60px;
  left: 65px;
  z-index: 100;
  background-color: #fff;
  padding: 5px 8px;
}

.drawerHeaad {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}